@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.header-container  {
    width: 100%;
    /* height: 40px; */
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: white;
    display: flex;
    align-items: center !important;
    
}
/* {
    width: 100%;
    display: flex;
    align-items: center !important;
} */
.header-left {
    margin-left: 22px;
    border-right:  1px solid rgb(238, 238, 238);
    width: 150px;
    height: 84px;
    /* margin-right: 100px; */
}
.header-location {
    margin-right: 40px;
}
.vertical-line{
   margin-right:20px;
   height:100%;
   border:2px solid rgb(238, 238, 238);
  
}

.header-location-title {
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 2px;
    font-size: 18px;
}
.header-location-desc {
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    /* margin:0px; */
}
 .header-search {
    width: 36%;
    height: 46px;
    cursor: text;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 0px 12px;
    border-radius: 12px;
    background: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 20px;
}
 .header-search svg {
    width: 20px;
    font-weight: 600;
}

.header-search input {
    background-color: transparent;
    border: none;
    outline: none;
}
.header-login {
    font-size: 18px;
    font-weight: 400;
    color: rgb(54, 54, 54);

    transition: font-size 0.5s ease 0s;
    margin-right: 70px;
}
.header-right {
    width: 112px;
    height: 52px;
    background-color: #0d831e !important;
    font-size: 14px !important;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-right: 25px;;
    justify-content: center;
}

.header-right svg {
    width: 24px;
    margin-right: 8px;
} 
 
::placeholder{
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.my-categories{
    width: 97%;
}
.my-container{
    margin: auto;
    width: 97%;
    overflow-x: scroll;
}

.my-list{
    white-space: nowrap;
}

.my-list>img{
    padding-inline: 10px;
}
::-webkit-scrollbar{
    display: none;
}

.label{
    width: 97%;
    margin-left: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.label>a{
    line-height: 32px;
    font-size: 20px;
    color: rgb(12, 131, 31);
    /* font-family: Okra-Medium; */
    text-decoration: none;
}

.label>div{
color: rgb(28, 28, 28);
font-size: 25px;
/* font-family: Okra-Medium; */
font-weight: 600;
line-height: 32px;
}

.card-s{
    cursor: pointer;
    flex: 0 1 0%;
    min-width: 180px;
    max-width: 180px;
   
}
.card-inner{
    margin: auto; 
    width: 97%;
    overflow-x: scroll;
}
.inner-div{
    min-width: 100%;
    grid-column: span 6 / auto;
    padding-bottom: 0.75rem;
    gap: 0.125rem;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    background: rgb(255, 255, 255);
    border: 0.5px solid rgb(232, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
    border-radius: 8px;
}
.content{
overflow: hidden;
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    display:-webkit-box;
    line-height: 18px;
    width: 100%;
    height: 36px;
    margin-bottom: 6px;
}
.my-footer{
    width: 95%;
    margin: auto;
}
.row-3{
    text-align: justify;
    color: #666666;
    font-size: 15px;
    padding:10px;
}

.row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.row-2>p{
    text-align: justify;
    color: #666666;
    font-size: 12px;
    width: 35%;
}

.download-section>p{
    color: #666666;
    font-weight: 600;
    font-size: 14px;
    margin: 16px;
}
.download-btns{
    background-color: #213b50;
    color: white;
    border-radius: 10px;
    margin: 10px;
    border: none;
    padding: 10px;
}
.social-btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-inline: 10px;
}

.social{
    display: flex;
}

.row-1{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.useful-links{
    flex: 2;
}

.categories-links{
    flex: 3;
}
table{
    width: 100%;
}
td{
    padding: 3px 10px;
    color: #666666;
    font-size: 14px;
}